@media (min-width: 1024px) {
  .main-content {
    width: 75%;
  }
  .titel-voornaam,
  .titel-footer,
  .titel-achternaam,
  .titel-contact {
    font-size: 4.5em;
  }
  .logo {
    width: 150px;
  }
  .about p{
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-top: 100px;
  }
  .about img{
    justify-self: center;
    align-self: end;
    grid-column: 3 / span 2;
    grid-row: 1;
    width: 75%;
    padding-top: 0;
  }
  .kolom1 {
    grid-column: 1 / span 2;
    width: 60%;
    margin-right: 5rem;
  }
  .kolom2 {
    grid-column: 2 / span 2;
    width: 60%;
    margin-top: 50px;
    margin-left: 5rem;
    grid-row: 1;
  }
  .project1 {
    grid-column: 1 / span 2;
  }
  .project2 {
    grid-column: 2 / span 2;
  }
  .portofolio p {
    width: 80%;
    margin: auto;
  }
  .project2 img,
  .project1 img {
    transition: transform 1.5s linear 250ms;
  }
  .project1 img:hover {
    border-radius: 25px;
    transform: translateX(150px) translateY(-50px) scale(1.6);
  }
  .project2 img:hover {
    border-radius: 25px;
    transform: translateX(-150px) translateY(-50px) scale(1.6);
  }
  .hobbys {
    display: flex;
    flex-flow: row wrap;
  }
  div.foto-blok:nth-child(odd) {
    flex: 1 0 45%;
    margin-right: 25px;
  }
  div.foto-blok:nth-child(even) {
    flex: 1 0 45%;
  }
  div.foto-blok:nth-child(2) {
    margin-top: 100px;
  }
  div.foto-blok:nth-last-child(2) {
    margin-bottom: 0;
  }
  .iconen {
    grid-row: 5;
    align-self: stretch;
  }
  .icon {
    width: 85px;
  }
}
